# Dependencies
node_modules

# Next.js build output
.next
out

# VCS
.git
.gitignore

# Env files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Tooling/editor
.vscode
.vercel

# Local/CI artifacts
Dockerfile*
docker-compose*.yml
coverage
*.tsbuildinfo
